# evals
{{ if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv"
{{ end }}
{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}
eval "$(starship init zsh)"
eval "$(sheldon source)"
eval "$(anyenv init -)"
eval "$(nodenv init -)"


# paths
export PATH="$HOME/.nodenv/shims:/usr/local/bin:/usr/bin:/bin:$PATH"
export PATH="$HOME/.nodenv/bin:$PATH"
export PATH=$(brew --prefix)/bin:$PATH
export PATH=$HOME/.cargo/bin:$PATH
export PATH=$HOME/.cargo/env:$PATH
export PATH=/usr/local/go/bin:$PATH
export PATH=$HOME/go/bin:$PATH
export PATH=$HOME/.rye/env:$PATH
export PATH="$HOME/.rye/shims:$PATH"
export NVM_DIR="$HOME/.nvm"

# env
export GITHUB_USER=hayapo
